@import url("https://fonts.cdnfonts.com/css/takota");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

nav.navbar {
  background-color: #350077 !important;
  color: white !important;
  border-bottom: 2px solid black;
}

.navbar a {
  color: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #110127;
}

.navbar-toggler-icon {
  color: white !important;
}

button.navbar-toggler {
  color: white !important;
}

.reportHeader {
  background: url("./img/jumbo-bg.png") no-repeat;
  background-size: cover;
  padding: 0;
  border: 2px solid black;
  border-radius: 10px;
  /* background: #ffffff; */
  box-shadow: 5px 5px 20px #cfcfcf, -5px -5px 20px #ffffff;
}

.reportHeader .orglogo {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  border: 2px solid black;
  font-family: ;
}

.executive .orglogo img.logoimg {
  /* margin: 10px; */
  padding: 30px;
}

.reportHeader img {
  max-height: 500px;
  position: relative;
  margin: 0;
  padding: 0;
}

.executivepic {
  background: url("/img/jw-bg.png");
  padding-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 20px #cfcfcf, -5px -5px 20px #ffffff;
}

.CENTER {
  text-align: center;
}

.tinytext {
  color: white;
  background-color: rgb(53, 53, 53);
  font-size: 12px;
  padding: 10px;
  height: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.impactNo h1 {
  font-family: "Takota";
  font-size: 6rem;
}

.rect {
  height: 0;
}

.tales {
  width: 100%;
}
.carousel-item {
  width: 100%;
  height: 40vh;
  background-color: rebeccapurple;
  border-radius: 10px;
  border: 2px solid black;
}

.highlight1 {
  background: url("/assets/img/highlight1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carousel-caption img {
  border-radius: 10px;
  border: 2px solid black;
}

.highlight2 {
  background: url("/assets/img/highlight2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.highlight3 {
  background: url("/assets/img/highlight3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
  .carousel-item {
    width: 100%;
    height: 50vh;
    background-color: rebeccapurple;
    border-radius: 10px;
    border: 2px solid black;
  }
}
